# Application
web/app/plugins/scribo*/
web/app/plugins/scribo-*
web/app/plugins/corbidev*/
web/app/plugins/corbidev-*

web/app/mu-plugins/scribo*/
web/app/mu-plugins/scribo-*
web/app/mu-plugins/corbidev*/
web/app/mu-plugins/corbidev-*

# web/app/themes/twentytwentyfive/
web/app/themes/scribo*/
web/app/themes/corbidev*/

# web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep
web/app/cache/*

# WordPress
# web/wp
web/.htaccess

# Logs
*.log

# Dotenv
.env
.env.*
!.env.example

# Composer
# /vendor
auth.json

# # WP-CLI
wp-cli.local.yml
