# Application
web/app/plugins/*
!web/app/plugins/.gitkeep

web/app/mu-plugins/*
!web/app/mu-plugins/.gitkeep
!web/app/mu-plugins/bed

# web/app/themes/twentytwentyfive/
web/app/themes/*
!web/app/themes/.gitkeep


# web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep
web/app/cache/*

# WordPress
web/wp
web/upgrade*
web/.htaccess

# Logs
*.log

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor
auth.json

# # WP-CLI
wp-cli.local.yml

